@import "tailwindcss";

.input {
  @apply pl-10 rounded-sm focus:outline-none focus:border-blue-500 focus:shadow-xs focus:shadow-blue-500 transition-all w-full;
}

.search-btn {
  @apply rounded-sm bg-blue-500 text-white pl-5 pr-5 pt-3 pb-3 font-medium cursor-pointer  scale-100 transition-all hover:scale-105;
}

.imgs-container {
  @apply w-full relative flex items-center flex-col text-center;
}

.imgs-speakers {
  @apply w-90;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: bg-slate-200; /* dark */
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 10px;
  border: 2px solid bg-slate-200;
}

::-webkit-scrollbar-thumb:hover {
  background-color: bg-slate-200;
}
