@import "tailwindcss";

.input {
  @apply pl-10 focus:outline-none focus:border-blue-500 shadow-sm focus:shadow-xs focus:shadow-blue-500 transition-all w-full;
}

.search-btn {
  @apply bg-blue-500 text-white pl-6 pr-6 pt-3 pb-3 font-medium cursor-pointer  scale-100 transition-all hover:scale-105;
}

.imgs-container {
  @apply w-full relative flex items-center flex-col text-center;
}

.imgs-speakers {
  @apply w-90;
}

.element-shape {
  @apply rounded-4xl;
}

.search-list-shape {
  @apply w-fit max-h-30 p-2 pl-4 bg-white border-1 border-gray-100 flex items-center justify-center gap-2 cursor-pointer hover:bg-gray-100 transition-all h-10;
}
.search-list-hover {
  @apply bg-blue-400 text-white hover:text-black;
}

.search-list-x {
  @apply w-6 hover:bg-slate-200 pt-1 pb-1 pl-1 pr-1 rounded-2xl transition-all cursor-pointer;
}

.search-list-delete {
  @apply rounded-md p-2 pr-4 pl-4 text-rose-400 font-medium w-fit cursor-pointer hover:bg-red-100 transition-all mt-4;
}

.basic-alight {
  @apply flex items-center justify-center flex-col;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: bg-slate-200; /* dark */
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 10px;
  border: 2px solid bg-slate-200;
}

::-webkit-scrollbar-thumb:hover {
  background-color: bg-slate-200;
}
